<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Marketplace</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <%- include('partials/stylesheets'); %>
        <link rel="stylesheet" type="text/css" href="../assets/styles/cart.css">
        <base href="/">
</head>

<body>

    <%- include('partials/header'); %>

        <main id="cart">
            <div class="container cart_container">
                <div class="cart_div">
                    <% if(products !=undefined) { %>
                        <% products.forEach(function(product) { %>
                            <a class="product_widget" href="/cart/del/<%= product._id %>">
                                <img class="product_image" src="<%= product.photo_main %>">
                                <p class="product_title">
                                    <%= product.name %>
                                </p>
                                <p class="product_price">
                                    R$ <%= product.price %>
                                </p>
                                <img class="delete_img" src="../assets/images/delete.svg">
                            </a>
                            <% }); }%>
                </div>

                <div class="summary_div">
                    <h2 class="summary">Resumo do Pedido</h2>
                    <div class="subtotal">
                        <p>Subtotal:</p>
                        <p>R$ <%= subtotal %>
                        </p>
                    </div>
                    <div class="subtotal">
                        <p>Frete:</p>
                        <p>R$ 40,00</p>
                    </div>
                    <hr />
                    <div class="total">
                        <p>Total:</p>
                        <p>R$ <%= total %>
                        </p>
                    </div>
                    <a class="cta" href="/buy">Comprar</a>
                </div>
            </div>
        </main>

        <%- include('partials/footer'); %>
</body>

</html>