<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Marketplace</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <%- include('partials/stylesheets') %>
        <link rel="stylesheet" type="text/css" href="../assets/styles/home.css">
        <base href="/">
</head>

<body>

    <%- include('partials/header') %>

        <section id="banner">
            <div class="container banner_container">
                <aside class="asside">
                    <h2 class="categories">Categorias</h2>
                    <ul class="categories_ul">
                        <li><a class="categorie_link" href="/search">Lorem Ipsum</a></li>
                        <li><a class="categorie_link" href="/search">Lorem Ipsum</a></li>
                        <li><a class="categorie_link" href="/search">Lorem Ipsum</a></li>
                        <li><a class="categorie_link" href="/search">Lorem Ipsum</a></li>
                        <li><a class="categorie_link" href="/search">Lorem Ipsum</a></li>
                        <li><a class="categorie_link" href="/search">Lorem Ipsum</a></li>
                        <li><a class="categorie_link" href="/search">Lorem Ipsum</a></li>
                        <li><a class="categorie_link" href="/search">Lorem Ipsum</a></li>
                    </ul>
                </aside>
                <div class="banner1">

                </div>
                <div class="banner2">

                </div>
                <div class="banner2">

                </div>

            </div>
        </section>

        <section id="stores">
            <div class="container stores_container">
                <div class="title_container">
                    <span class="line"> </span>
                    <h2 class="stores_title">Lojas</h2>
                    <span class="line"> </span>
                </div>

                <div class="stores_div">

                    <% stores.forEach(function(store) { %>
                        <a class="store_widget" href="#">
                            <img class="store_image" src="<%= store.logo %>">
                            <p class="store_title">
                                <%= store.name %>
                            </p>
                        </a>
                        <% }); %>

                            <a class="store_widget" href="#">
                                <div class="store_image"></div>
                                <p class="store_title">Lorem Ipsum</p>
                            </a>

                            <a class="store_widget" href="#">
                                <div class="store_image"></div>
                                <p class="store_title">Lorem Ipsum</p>
                            </a>
                </div>
            </div>
        </section>

        <section id="products">
            <div class="container products_container">
                <div class="title_container">
                    <span class="line"> </span>
                    <h2 class="stores_title">Destaque</h2>
                    <span class="line"> </span>
                </div>

                <div class="products_div">

                    <% products.forEach(function(product) { %>
                        <a class="product_widget" href="/product/<%= product.id %>">
                            <img class="product_image" src="<%= product.photo_main %>">
                            <p class="product_title">
                                <%= product.name %>
                            </p>
                            <p class="product_price">
                                R$ <%= product.price %>
                            </p>
                        </a>
                        <% }); %>

                </div>
            </div>
        </section>

        <%- include('partials/footer') %>
</body>

</html>