<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Marketplace</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">

    <%- include('partials/stylesheets') %>
        <link rel="stylesheet" type="text/css" href="../assets/styles/store.css">
        <base href="/">
</head>

<body>

    <%- include('partials/header') %>

        <section id="store_description">
            <div class="container store_container">
                <div class="store_logo_widget">
                    <img src="<%= store.logo %>" alt="<%= store.name %> logo" />
                    <h1 class="store_name">
                        <%= store.name %>
                    </h1>
                </div>

                <div class="store_description_widget">
                    <h2 class="description_title">Descrição:</h2>
                    <p class="store_description">
                        <%= store.description %>
                    </p>
                </div>
            </div>
        </section>



        <section id="products">
            <div class="container products_container">
                <div class="title_container">
                    <span class="line"> </span>
                    <h2 class="stores_title">Produtos</h2>
                    <span class="line"> </span>
                </div>

                <div class="products_div">

                    <% products.forEach(function(product) { %>
                        <a class="product_widget" href="/product/<%= product._id %>">
                            <img class="product_image" src="<%= product.photo_main %>">
                            <p class="product_title">
                                <%= product.name %>
                            </p>
                            <p class="product_price">
                                R$ <%= product.price %>
                            </p>
                        </a>
                        <% }); %>

                </div>
            </div>
        </section>

        <%- include('partials/footer') %>
</body>

</html>