<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Marketplace</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <%- include('partials/stylesheets'); %>
        <link rel="stylesheet" type="text/css" href="../assets/styles/user.css">
        <base href="/">
</head>

<body>
    <%- include('partials/userheader'); %>

        <section id="user_information">
            <h1 class="wellcome">Bem vindo, <%= user.name %>!
            </h1>

        </section>

        <section id="requests">
            <div class="container requests_container">
                <% requests.forEach(request=> { %>
                    <div class="request">
                        <h3 class="request_title">
                            Data: <%= request.createdAt %>
                        </h3>
                        <div class="products">
                            <% request.products.forEach(function(product) { %>
                                <div class="product_widget">
                                    <img class="product_image" src="<%= product.photo_main %>">
                                    <p class="product_title">
                                        <%= product.name %>
                                    </p>
                                    <p class="product_price">
                                        R$ <%= product.price %>
                                    </p>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </section>

        <%- include('partials/footer'); %>
</body>

</html>